#shop{
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
 
}


.shop-wrapper {
    margin: 5vh auto;
}

.shop-wrapper h3 {
    color: #2D7FC0;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.card-divv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
 

}

.shop-wrapper div {
    color: #6B6060;
    font-weight: 400;
    font-size: 17px;
    margin: auto;
    text-align: center;
    width: 350px;
}

.view-btn {
    width: 140px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    background-color: #2D7FC0;
    color: #FFFFFF;
    border: none;
    align-items: center;
    margin: 5vh auto;

}

.card-wrapper {
 
    height: fit-content;
}


.card-wrapper span {
    font-size: 20px;
    color: #6B6060;
    font-weight: 600;

}

.buy-btn {
    width: 130px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    background-color: #2D7FC0;
    color: #FFFFFF;
    outline: 1px solid #2D7FC0;
    border: none;
    align-items: center;
    /* margin-bottom: 3vh; */


}
.buydiv {
    /* background-color: red; */
    margin-bottom: 3vh;
}

.buy-btnn {
    width: 130px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: #2D7FC0;
    background: #FFFFFF;
    border: none;
    outline: none;
    align-items: center;
    /* margin-bottom: 3vh; */
}

.view-btn:hover {
    width: 143px;
    height: 57px;
    border: none;
}

@media screen and (max-width: 766px) {

    .card-wrapper span {
        margin-left: 1rem;
    }
    
}


@media only screen and (min-width: 768px) and 
(max-width: 1024px) and (orientation: portrait) {

    .card-divv {
        /* flex-direction: row; */
        /* justify-content: center; */
    }

    .card-wrapperr {
        width: 40% ;
        margin:5% auto;
    }
    
}


